@page "/Admin-CategoryInfo/{categoryId:int}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@layout AdminLayout

@if (categoryView != null)
{
    <PageTitle>مشخصات دسته بندی @categoryView.CategoryName</PageTitle>
    <h3>مشخصات @categoryView.CategoryName</h3>
}
else
{
    <PageTitle>دسته بندی یافت نشد</PageTitle>
}

@if (categoryView != null)
{
    <EditForm Model="@categoryView" OnValidSubmit="@HandleValidSubmit">
        <hr />
        <span class="text-danger">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </span>


        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col" class="text-center">آیدی</th>
                    <th scope="col" class="text-center">
                        نام<span class="text-danger">*</span>
                    </th>
                    <th scope="col" class="text-center">
                        وضعیت فعال/غیرفعال<span class="text-danger">*</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">@categoryView.CategoryId</td>
                    <td class="text-center">
                        @if (isEdit == false)
                        {
                            <span>
                                @categoryView.CategoryName
                            </span>
                        }
                        else
                        {
                            <InputText @bind-Value="categoryView.CategoryName" class="input-field form-control" />

                        }
                    </td>
                    <td class="text-center">
                        @if (isEdit == false)
                        {
                            @if (categoryView.IsActive == true)
                            {
                                <span class="text-success">این دسته بندی فعال است.</span>
                            }
                            else
                            {
                                <span class="text-danger">این دسته بندی غیرفعال است.</span>

                            }
                        }
                        else
                        {
                            <InputSelect @bind-Value="categoryView.IsActive" class="form-control text-center">
                                <option value="true">فعال</option>
                                <option value="false">غیرفعال</option>
                            </InputSelect>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="fw-bold my-3">لیست زیردسته ها : </h4>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th class="text-center">نام دسته</th>
                    <th class="text-center">وضعیت</th>
                    <th class="text-center">دسته اصلی</th>
                    <th class="text-center">امکانات</th>
                </tr>
            </thead>
            <tbody>
                @if (CategoryChild != null)
                {
                    @foreach (var item in CategoryChild)
                    {
                        <tr>

                            @if (isEdit == false)
                            {
                                <td class="text-center">@item.CategoryName</td>
                                <td class="text-center">
                                    @if (item.IsActive == true)
                                    {
                                        <span class="text-success">این دسته بندی فعال است.</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">این دسته بندی غیرفعال است.</span>

                                    }
                                </td>
                                <td class="text-center">
                                    @if (Categories != null)
                                    {
                                        @Categories.FirstOrDefault(t=>t.CategoryId == item.ParentId).CategoryName
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <InputText @bind-Value="item.CategoryName" class="input-field form-control" />
                                </td>
                                <td class="text-center">
                                    <InputSelect @bind-Value="item.IsActive" class="form-control">
                                        <option value="true">فعال</option>
                                        <option value="false">غیرفعال</option>
                                    </InputSelect>
                                </td>
                                <td class="text-center">
                                    <InputSelect @bind-Value="item.ParentId" class="form-control">
                                        @if (Categories != null)
                                        {
                                            @foreach (var C in Categories)
                                            {

                                                @if (C.ParentId == null)
                                                {
                                                    <option value="@C.CategoryId">
                                                        @C.CategoryName
                                                    </option>
                                                }

                                            }
                                        }
                                    </InputSelect>
                                </td>
                            }
                            <td class="text-center">
                                <CategoryDelete CategoryId="@item.CategoryId" />
                                <NavLink href="@item.CAttributeUrl">
                                    <button type="button" class="btn-outline-primary btn">ویژگی‌ها</button>
                                </NavLink>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (isEdit == false)
        {
            <button type="button" class="btn btn-warning my-2" @onclick="EditCategory">ویرایش</button>
            <CategoryDelete CategoryId="@categoryId" />
        }
        else
        {
            <button type="submit" class="btn btn-warning my-2">تایید و ویرایش</button>
            <CategoryDelete CategoryId="@categoryId" />
        }
    </EditForm>
    


}
else
{
    <h4 class="alert alert-danger w-100 p-2">
        دسته بندی یافت نشد
    </h4>
}

@code {
    [Parameter]
    public int categoryId { get; set; }
    public CategoryViewModel? categoryView { get; set; }
    public List<CategoryViewModel>? CategoryChild { get; set; }
    public List<CategoryViewModel>? Categories { get; set; }
    public bool isEdit { get; set; } = false;
    public string hiddenStr = "mt-2 d-none";
}
@functions{
    //این تابع، در زمان لود شدن صفحه اطلاعات را از کنترلر درات میکند
    protected override async Task OnInitializedAsync()
    {
        categoryView = new CategoryViewModel();
        categoryView = await httpClient.GetFromJsonAsync<CategoryViewModel>($"Category/Info/{categoryId}");
        Categories = await httpClient.GetFromJsonAsync<List<CategoryViewModel>>("Category/List");
        CategoryChild = await httpClient.GetFromJsonAsync<List<CategoryViewModel>>($"Category/ChildInfo/{categoryId}");
        if (CategoryChild != null)
        {
            @foreach (var item in CategoryChild)
            {
                item.CAttributeUrl = "/Admin-CategoryAttributes/" + item.CategoryId;
            }
        }
    }

    //با زدن دکمه ویرایش، این تابع اجرا شده و اطلاعات ویرایش میشود
    private async Task HandleValidSubmit()
    {
        if (categoryView != null)
        {
            var res = await httpClient.PutAsJsonAsync("Category/Edit", categoryView);
            var res_2 = await httpClient.PutAsJsonAsync("Category/EditChild", CategoryChild);
            if (res != null || res_2 != null)
            {
                navigationManager.NavigateTo("/Admin-CategoryList");
            }
        }
    }

    //این تابع با کلیک برروی ویرایش اجرا شده و قابلیت ویرایش را فعال میکند
    public void EditCategory()
    {
        if (isEdit == false)
        {
            isEdit = true;
        }
    }
}
