@page "/Admin-AdminInfo/{adminId:int}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@layout AdminLayout

<PageTitle>مشخصات مدیر سایت</PageTitle>

@if (adminInfoView != null)
{
    <h3>مشخصات @adminInfoView.FirstName @adminInfoView.LastName</h3>
}

@if (adminInfoView != null)
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col" class="text-center">آیدی</th>
                <th scope="col" class="text-center">نام</th>
                <th scope="col" class="text-center">نام خانوادگی</th>
                <th scope="col" class="text-center">نام کاربری</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">@adminInfoView.AdminId</td>
                <td class="text-center">@adminInfoView.FirstName</td>
                <td class="text-center">@adminInfoView.LastName</td>
                <td class="text-center">@adminInfoView.UserName</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col" class="text-center">پسورد</th>
                <th scope="col" class="text-center">شماره موبایل</th>
                <th scope="col" class="text-center">ایمیل</th>
                <th scope="col" class="text-center">وضعیت فعال/غیرفعال</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <input type="password" value="@adminInfoView.Password" class="form-control" readonly disabled />
                </td>
                <td>@adminInfoView.MobileNumber</td>
                <td class="text-center">
                    @if (adminInfoView.Email == null)
                {
                    <span class="text-danger">ایمیل ثبت نشده است.</span>
                }else
                {
                   @adminInfoView.Email
                }
                </td>
                <td class="text-center">
                    @if (@adminInfoView.IsActive == true)
                    {
                        <span>فعال</span>
                    }
                    else
                    {
                        <span>غیرفعال</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <NavLink href="@adminInfoView.EditUrl">
        <button class="btn btn-warning my-2">ویرایش</button>
    </NavLink>
    <button type="button" class="btn btn-danger" @onclick="DeleteUser">حذف</button>
    <div class="@hiddenStr">
        <DeleteAdmin adminId="@adminId.ToString()" />
    </div>
}
else
{
    <h4 class="text-danger">
        User Not Found
    </h4>
}


@code {
    [Parameter]
    public int adminId { get; set; }

    public AdminInfoViewModel? adminInfoView { get; set; }
    public string hiddenStr = "mt-2 d-none";

    protected override async Task OnInitializedAsync()
    {
        adminInfoView = new AdminInfoViewModel();
        adminInfoView = await httpClient.GetFromJsonAsync<AdminInfoViewModel>($"Admins/Info/{adminId}");
        if(adminInfoView != null)
        {
            adminInfoView.EditUrl = ("/Admin-EditInfo/" + adminInfoView.AdminId);
        }
    }
    public void DeleteUser()
    {
        if (this.hiddenStr == "mt-2 d-none")
        {
            this.hiddenStr = "mt-2";
        }
        else
        {
            this.hiddenStr = "mt-2 d-none";
        }
    }

}