@page "/Admin-EditInfo/{adminId:int}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@layout AdminLayout

<PageTitle>ویرایش مدیر سایت</PageTitle>

@if(adminInfoView != null)
{
    <h3>مشخصات @adminInfoView.FirstName @adminInfoView.LastName</h3>
}

@if (adminInfoView != null)
{
    <EditForm Model="@adminInfoView" OnValidSubmit="@HandleValidSubmit">
        <hr />
        <span class="text-danger">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </span>


        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col" class="text-center">آیدی</th>
                    <th scope="col" class="text-center">
                        نام<span class="text-danger">*</span>
                    </th>
                    <th scope="col" class="text-center">
                        نام خانوادگی<span class="text-danger">*</span>
                    </th>
                    <th scope="col" class="text-center">
                        نام کاربری<span class="text-danger">*</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">@adminInfoView.AdminId</td>
                    <td class="text-center">
                        <InputText @bind-Value="adminInfoView.FirstName" class="input-field form-control" />
                    </td>
                    <td class="text-center">
                        <InputText @bind-Value="adminInfoView.LastName" class="form-control" />
                    </td>
                    <td class="text-center">
                        <InputText @bind-Value="adminInfoView.UserName" class="form-control" />
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col" class="text-center">
                        پسورد<span class="text-danger">*</span>
                    </th>
                    <th scope="col" class="text-center">
                        شماره موبایل<span class="text-danger">*</span>
                    </th>
                    <th scope="col" class="text-center">ایمیل</th>
                    <th scope="col" class="text-center">وضعیت فعال/غیرفعال<span class="text-danger">*</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="d-flex text-center">
                        <InputText @bind-Value="adminInfoView.Password" class="form-control" type="@inType" />
                        <span class="fa fa-eye m-auto ml-1" @onclick="ShowPassword"></span>
                    </td>
                    <td class="text-center">
                        <InputText @bind-Value="adminInfoView.MobileNumber" class="form-control" />
                    </td>
                    <td class="text-center">
                        <InputText @bind-Value="adminInfoView.Email" class="form-control" />
                    </td>
                    <td class="text-center">
                        <InputSelect @bind-Value="adminInfoView.IsActive" class="form-control">
                            <option value="true">فعال</option>
                            <option value="false">غیرفعال</option>
                        </InputSelect>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-warning my-2">تایید و ویرایش</button>
        <button type="button" class="btn btn-danger" @onclick="DeleteUser">حذف</button>
        <div class="@hiddenStr">
            <DeleteAdmin adminId="@adminId.ToString()" />
        </div>
    </EditForm>


}
else
{
    <h4 class="text-danger">
        User Not Found
    </h4>
}


@code {
    [Parameter]
    public int? adminId { get; set; }

    public AdminInfoViewModel? adminInfoView { get; set; }
    private string inType = "password";
    public string hiddenStr = "mt-2 d-none";
    protected override async Task OnInitializedAsync()
    {
        adminInfoView = new AdminInfoViewModel();
        adminInfoView = await httpClient.GetFromJsonAsync<AdminInfoViewModel>($"Admins/Info/{adminId}");
    }

    private async Task HandleValidSubmit()
    {
        if (adminInfoView != null)
        {
            var res = await httpClient.PutAsJsonAsync("Admins/Edit", adminInfoView);
            if (res != null)
            {
                navigationManager.NavigateTo("/Admin-Adminlist");
            }
        }
    }

    private void ShowPassword()
    {
        if (this.inType == "password")
        {
            this.inType = "text";
        }
        else
        {
            this.inType = "password";
        }
    }
    public void DeleteUser()
    {
        if (this.hiddenStr == "mt-2 d-none")
        {
            this.hiddenStr = "mt-2";
        }
        else
        {
            this.hiddenStr = "mt-2 d-none";
        }
    }
}