@page "/Admin-UserInfo/{userId}"
@inject HttpClient httpClient
@layout AdminLayout

<PageTitle>مشخصات کاربر</PageTitle>

@if (userInfoView != null)
{
    <h3>مشخصات @userInfoView.FirstName @userInfoView.LastName</h3>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">آیدی</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">پسورد</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@userInfoView.UserId</td>
                <td>@userInfoView.FirstName</td>
                <td>@userInfoView.LastName</td>
                <td>@userInfoView.UserName</td>
                <td>@userInfoView.Password</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col">شماره موبایل</th>
                <th scope="col">ایمیل</th>
                <th scope="col">کد ملی</th>
                <th scope="col">جنسیت</th>
                <th scope="col">وضعیت فعال/غیرفعال</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@userInfoView.MobileNumber</td>
                <td>
                    @if (userInfoView.Email == null)
                    {
                        <span class="text-danger">ایمیل ثبت نشده است.</span>
                    }
                    else
                    {
                        @userInfoView.Email
                    }
                </td>
                <td>
                    @if (userInfoView.NationalCode == null)
                    {
                        <span class="text-danger">کدملی ثبت نشده است.</span>
                    }
                    else
                    {
                        @userInfoView.NationalCode
                    }
                </td>
                <td>
                    @if (userInfoView.Gender == null)
                    {
                        <span class="text-danger">جنسیت مشخص نشده است.</span>
                    }
                    else
                    {
                        @userInfoView.Gender
                    }
                </td>
                <td>@userInfoView.IsActive</td>
            </tr>
        </tbody>
    </table>

    <NavLink href="@userInfoView.EditUrl">
        <button class="btn btn-warning my-2">ویرایش</button>
    </NavLink>
    <button type="button" class="btn btn-danger" @onclick="DeleteUser">حذف</button>
    <div class="@hiddenStr">
        <DeleteUser userId="@userId" />
    </div>
}
else
{
    <h4 class="text-danger">
        User Not Found
    </h4>
}


@code {
    @inject NavigationManager navigationManager
    [Parameter]
    public string? userId { get; set; }

    public UserInfoViewModel? userInfoView = new UserInfoViewModel();
    public string hiddenStr = "mt-2 d-none";

}

@functions {

    protected override async Task OnInitializedAsync()
    {
        if (userId != null)
        {
            int id = int.Parse(userId);
            userInfoView = await httpClient.GetFromJsonAsync<UserInfoViewModel>($"User/Info/{id}");
            if (userInfoView != null)
            {
                userInfoView.EditUrl = ("/Admin-UserInfo/" + userInfoView.UserId + "/Edit");
            }
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        if (userId != null)
        {
            int id = int.Parse(userId);
            userInfoView = await httpClient.GetFromJsonAsync<UserInfoViewModel>($"User/Info/{id}");
            if (userInfoView != null)
            {
                userInfoView.EditUrl = ("/Admin-UserInfo/" + userInfoView.UserId + "/Edit");
            }
        }
    }

    public void DeleteUser()
    {
        if (this.hiddenStr == "mt-2 d-none")
        {
            this.hiddenStr = "mt-2";
        }
        else
        {
            this.hiddenStr = "mt-2 d-none";
        }
    }
}
