@inject HttpClient httpClient
@inject NavigationManager navigationManager

<!-- Button trigger modal -->
<button type="button" @onclick='ShowAddModal' class="btn btn-success my-2" data-toggle="modal" data-target="#AddUserModal">
    درج کاربر جدید
</button>

<!-- Modal -->
<div class="modal fade show @styleModal" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="AddUserModalTitle" aria-hidden="true" style="background:#00000080">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddUserModalTitle">درج کاربر جدید</h5>
                <button @onclick="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@userCreateViewModel" OnValidSubmit="@HandleValidSubmit">
                    <hr />
                    <span class="text-danger">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </span>

                    <div class="row w-100">
                        <div class="col-6 w-100">
                            <label>
                                نام :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.FirstName" class="form-control input-field" placeholder="نام" />
                        </div>
                        <div class="col-6 w-100">
                            <label>
                                نام خانوادگی :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.LastName" class="form-control input-field" placeholder="نام خانوادگی" />
                        </div>
                        <hr />
                        <div class="col-6 w-100">
                            <label>
                                نام کاربری :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.UserName" class="form-control input-field" placeholder="نام کاربری" />
                        </div>
                        <div class="col-6 w-100">
                            <label>
                                شماره موبایل :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.MobileNumber" class="form-control input-field" placeholder="شماره موبایل" />
                        </div>
                        <hr />
                        <div class="col-5 w-100">
                            <label>
                                پسورد :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.Password" class="form-control input-field" type="@inType" />
                        </div>
                        <div class="col-5 w-100">
                            <label>
                                تکرار پسورد :<span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="userCreateViewModel.RePassword" class="form-control input-field" type="@inType" />
                        </div>
                        <div class="col-2 w-100 p-0">
                            <span class="fa fa-eye mt-5" @onclick="ShowPassword"></span>
                        </div>
                        <hr />
                        <div class="col-5 w-100">
                            <label>
                                کدملی :
                            </label>
                            <InputText @bind-Value="userCreateViewModel.NationalCode" class="form-control input-field" placeholder="کدملی" />
                        </div>
                        <div class="col-3 w-100">
                            <label>
                                جنسیت :
                            </label>
                            <InputSelect @bind-Value="userCreateViewModel.Gender" class="form-control input-field">
                                <option value="true">مرد</option>
                                <option value="false">زن</option>
                                <option value="" selected>بدون انتخاب</option>
                            </InputSelect>
                        </div>
                        <div class="col-4 w-100">
                            <label>
                                وضعیت :<span class="text-danger">*</span>

                            </label>
                            <InputSelect @bind-Value="userCreateViewModel.IsActive" class="form-control input-field">
                                <option value="true">فعال</option>
                                <option value="false" selected>غیرفعال</option>
                            </InputSelect>
                        </div>
                        <hr />
                        <div class="col-12 w-100">
                            <label>
                                ایمیل :
                            </label>
                            <InputText @bind-Value="userCreateViewModel.Email" class="form-control input-field w-100" placeholder="ایمیل" />
                        </div>
                    </div>
                    <hr />
                    <div>
                        <button @onclick="CloseModal" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-success">درج کاربر</button>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>

@code {
    UserCreateViewModel userCreateViewModel = new UserCreateViewModel();
    private string styleModal = "d-none";
    private string inType = "password";
}

@functions{
    private async Task HandleValidSubmit()
    {
        if (userCreateViewModel != null)
        {
            var res = await httpClient.PostAsJsonAsync<UserCreateViewModel>("User/Create", userCreateViewModel);
            if (res != null)
            {
                navigationManager.NavigateTo("/Admin-Userlist", true);
            }
        }
    }
    protected void ShowAddModal()
    {
        if (styleModal == "d-none")
        {
            styleModal = "d-block";
        }
    }
    protected void CloseModal()
    {
        styleModal = "d-none";
    }
    private void ShowPassword()
    {
        if (this.inType == "password")
        {
            this.inType = "text";
        }
        else
        {
            this.inType = "password";
        }

    }
}
