@page "/CategoriesItem/{Id:int}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if(categoryViewModel != null)
{
    <PageTitle>دسته بندی @categoryViewModel.CategoryName</PageTitle>
}
<div id="mainBlock">
    <!--------------------------------------------------------------------------------------------------->
    <div class="col-12 col-xl">
        <div class="row">
            @if (productViewModels != null)
            {
                @foreach (var item in productViewModels)
                {
                    <div class="col-12 col-md-6 col-xl-2  my-3">
                        <div class="product-box card w-100">
                            <NavLink @onclick="()=> gotoDetail(item.ProductId)">
                                <div class="product-img text-center pt-2">
                                    <img src="/Images/Product-Image/@item.ProductImagePath" alt="samsung galaxy a73 2022"
                                         class="p-imgs img-thumbnail">
                                </div>
                            </NavLink>
                            <div class="card-body overflow-hidden h-100">
                                <NavLink href="@item.ProductDetailLink" class="text-black text-decoration-none">
                                    <h4 class="card-title font-size-product-title text-center">
                                        @item.ProductName
                                    </h4>
                                </NavLink>
                                <NavLink href="@item.ProductDetailLink" class="text-black text-decoration-none">
                                    <h4 class="font-size-price-title text-danger text-right mt-2">
                                        @Convert.ToInt32(item.Price).ToString("n0")
                                    </h4>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <!--------------------------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------------------------->
        @if (TotalPageSize > 0)
        {
            <div class="mt-5 row">
                <ul class="pagination">
                    @for (int pageIndex = 1; pageIndex <= TotalPageSize; pageIndex++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@navigationManager.GetUriWithQueryParameter("page",pageIndex)">@(pageIndex)</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div>
    <Footer />
</div>

@code {
    private System.Threading.Timer? timer;
    [Parameter]
    public int Id { get; set; }
    public CategoryViewModel? categoryViewModel { get; set; }
    public List<ProductViewModel>? productViewModels { get; set; }
    public List<CategoryAttributeViewModel>? categoryAttributeViewModels { get; set; }
    [Parameter, SupplyParameterFromQuery]
    public int page { get; set; } = 0;
    public int? TotalPageSize { get; set; }

    protected async override Task OnInitializedAsync()
    {
        productViewModels = await httpClient.GetFromJsonAsync<List<ProductViewModel>>($"Product/List/{Id}/" + page);
        categoryViewModel = await httpClient.GetFromJsonAsync<CategoryViewModel>($"Category/Info/{Id}");
        categoryAttributeViewModels = await httpClient.GetFromJsonAsync<List<CategoryAttributeViewModel>>($"CategoryAttribute/List/{Id}");
        TotalPageSize = await httpClient.GetFromJsonAsync<int>($"Product/TotalPageCount/20/{Id}");
        if (productViewModels != null)
        {
            foreach (var item in productViewModels)
            {
                item.ProductDetailLink = "ProductDetail/" + item.ProductId;

            }
        }
        await base.OnInitializedAsync();
    }

    protected async override Task OnParametersSetAsync()
    {
        productViewModels = await httpClient.GetFromJsonAsync<List<ProductViewModel>>($"Product/List/{Id}/" + page);
        categoryViewModel = await httpClient.GetFromJsonAsync<CategoryViewModel>($"Category/Info/{Id}");
        categoryAttributeViewModels = await httpClient.GetFromJsonAsync<List<CategoryAttributeViewModel>>($"CategoryAttribute/List/{Id}");
        TotalPageSize = await httpClient.GetFromJsonAsync<int>($"Product/TotalPageCount/20/{Id}");
        if (productViewModels != null)
        {
            foreach (var item in productViewModels)
            {
                item.ProductDetailLink = "ProductDetail/" + item.ProductId;

            }
        }
        await base.OnParametersSetAsync();
    }

    public void gotoDetail(int pId)
    {
        navigationManager.NavigateTo($"/ProductDetail/{pId}");
    }
}
