@page "/ProductDetail/{Id}"
@inject HttpClient httpClient

@if (product != null)
{
    <div class="row product-interface p-0 m-0">
        <div class="product-img-box col-12 col-xl-4 px-0 py-4">
            <div id="active-img" class="product-img w-100 m-0 text-center">
                <img src="/Images/Product-Image/@product.ProductImagePath" alt="@product.ProductName" class="h-100">
            </div>
            @if (productImagesViewModels != null)
            {
                <div class="product-another-imgs row my-2">
                    @foreach (var item in productImagesViewModels)
                    {
                        <div class="product-imgs col-3 p-2 w-100 m-0 text-center">
                            <a href="#">
                                <img src="~/Images/Product-Image/@item.ImagePath" alt="@product.ProductName" class="h-100">
                            </a>
                        </div>
                    }

                </div>
            }
        </div>
        <div class="product-detail-interface col-12 col-xl-5 px-0 py-5">
            <div class="font-size-small">
                <span class="fw-light text-info">دسته کالا :</span>
                <a href="#" class="text-decoration-none fw-light text-info">
                    @if (category != null)
                    {
                        @category.CategoryName
                    }
                    else
                    {
                        <span>بدون دسته بندی</span>
                    }
                </a>
            </div>
            <div class="p-title fw-bold my-2">
                @product.ProductName
            </div>
            <div class="line bg-dark-subtle w-100 my-1"></div>
            <div class="font-size-small my-3">
                <a href="#product-comments" class="text-decoration-none fw-light text-info">6 دیدگاه برای این کالا</a>
            </div>
            <div class="font-size-small my-3 detail-preview">
                <span>
                    @product.ProductDiscription.Substring(0,250)
                </span>
                <a href="#product-detail" class="text-decoration-none fw-bold text-info">بیشتر.....</a>
            </div>
            <div class="my-3">
                <NavLink href="#Product-Technical" class="fw-bold text-decoration-none text-info">مشاهده مشخصات فنی کالا</NavLink>
            </div>
        </div>
        <div class="add-cart col-12 col-xl-3 mt-xl-5">
            <div class="add-cart-box w-100 text-left h-100 px-3 py-4">
                <div class="font-size-small">
                    <i class="fa fa-check"> </i> گارانتی اصالت کالا و برگشت 20 روزه کالا
                </div>
                <div class="line bg-dark-subtle w-100 my-4"></div>
                <span class="font-size-small"><i class="fa fa-shop"> </i></span>
                @if (product.Number > 0)
                {
                    <span class="text-success">موجود در انبار و اماده ارسال</span>
                }
                else
                {
                    <span class="text-danger">در انبار موجود نمیباشد</span>
                }
                <div class="line bg-dark-subtle w-100 my-4"></div>
                <form method="post" class="add-cart-form">
                    <input class="mx-1" type="radio" value="blue" name="colorSelected" id="colorSelected0" checked><span class="text-primary">آبی</span>
                    <input class="mx-1" type="radio" value="black" name="colorSelected" id="colorSelected1"><span class="text-black">مشکی</span>
                    <input class="mx-1" type="radio" value="pink" name="colorSelected" id="colorSelected3"><span class="text-danger">قرمز</span>
                    <div class="price my-3">
                        <span class="fw-bold">@Convert.ToInt32(product.Price).ToString("n0") تومان</span>
                    </div>
                    @if (product.Number > 0)
                    {
                        <button type="submit" class="btn btn-success w-100">اضافه به سبد خرید</button>
                    }
                    else
                    {
                        <button type="submit" disabled class="btn btn-success w-100">اضافه به سبد خرید</button>
                    }
                </form>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->


    <div class="p-0 mx-0 mt-4">
        <div class="container product-detail">
            <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
                <span class="fw-bold" id="product-detail"><i class="fa fa-info-circle"> </i> توضیحات کالا</span>
            </div>
            <div class="text-justify product-detail-text mt-5">
                @product.ProductDiscription
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->


    <div class="p-0 mx-0 mt-4">
        <div class="container product-detail">
            <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
                <span id="Product-Technical" class="fw-bold"><i class="fa fa-gears"> </i> مشخصات فنی</span>
            </div>
            <div class="text-justify product-Technical-text mt-5">
                @if (productAttributeViewModel != null)
                {
                    <div id="show-less-technical">
                        @for (int i = 0; i < productAttributeViewModel.Count && i < 5; i++)
                        {
                            <div class="row p-0 mx-0">
                                <div class="col-3">
                                    @categoryAttributeViewModels.Find(t=>t.AttributeId == productAttributeViewModel[i].AttributeId).Title
                                </div>
                                <span class="col-1 text-black-50">|</span>
                                <div class="col">
                                    @productAttributeViewModel[i].Discription
                                </div>
                            </div>
                            <hr class="myhr">
                        }
                        @for (int i = 5; i < productAttributeViewModel.Count; i++)
                        {
                            <div id="show-more-technical" class="@ShowMoreText">
                                <hr class="myhr">
                                <div class="row p-0 mx-0">
                                    <div class="col-3">
                                        @categoryAttributeViewModels.Find(t=>t.AttributeId == productAttributeViewModel[i].AttributeId).Title
                                    </div>
                                    <span class="col-1 text-black-50">|</span>
                                    <div class="col">
                                        @productAttributeViewModel[i].Discription
                                    </div>
                                </div>
                                <hr class="myhr">
                            </div>
                        }
                        <button id="show-more-technical-btn" class="btn btn-info btn-sm my-3 p-2" @onclick="ShowMore">
                            @ShowMoreBtn
                        </button>
                    </div>
                }
                else
                {
                    <span class="text-danger">ویژگی یافت نشد.</span>
                }
                <!--------------------------------------------------------------------------------------------------->

            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->

    <div class="p-0 mx-0 mt-4">
        <div class="container product-detail">
            <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
                <span class="fw-bold" id="product-comments"><i class="fa fa-comment"> </i> نظرات</span>
            </div>
            <div class="product-comments mt-3 text-justify text-center">
                <div class="add-Comment d-block d-lg-none w-100 m-auto font-size-small">
                    <form action="#" method="post" class="form-box">
                        <input type="text" id="commentUserNameSM" name="commentUserName" placeholder="نام ..."
                               class="comment-inputs form-control my-2 font-size-small">
                        <textarea name="commentText" id="commentTextSM" cols="30" rows="10" placeholder="متن نظر ..."
                                  class="comment-inputs form-control my-2 font-size-small"></textarea>
                        <button type="submit" class="w-100 btn btn-success">ارسال نظر</button>
                    </form>
                </div>
                <div class="add-Comment d-none d-lg-block w-50 m-auto font-size-small">
                    <form action="#" method="post" class="form-box">
                        <input type="text" id="commentUserName" name="commentUserName" placeholder="نام ..."
                               class="comment-inputs form-control my-2 font-size-small">
                        <textarea name="commentText" id="commentText" cols="30" rows="10" placeholder="متن نظر ..."
                                  class="comment-inputs form-control my-2 font-size-small"></textarea>
                        <button type="submit" class="w-100 btn btn-success">ارسال نظر</button>
                    </form>
                </div>
                <div id="show-less-comments">
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            حسین بخشایش مقرب | <span class="text-black-50">9 فروردین 1402</span> | <span class="text-success">
                                5 <a href="#" class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                من این گوشی رو خریدم<br>
                                خیلی عالی هستش و من ازش خیلی راضیم<br>
                                مرسی از سایت خوبتون
                            </p>
                        </div>
                    </div>
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            کاربر 2 | <span class="text-black-50">2 اسفند 1401</span> | <span class="text-success">
                                2 <a href="#"
                                     class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                خیلی سایت خوبی دارین، من همیشه از سایت شما خرید میکنم و همیشه برام در کمترین زمان میرسه،
                                واقعا خدمات پس از فروش و گارانتی هم عالیه، پیشنهاد میکنم حتما ازشون خرید کنین
                            </p>
                        </div>
                    </div>
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            کاربر 3 | <span class="text-black-50">10 بهمن 1401</span> | <span class="text-success">
                                2 <a href="#"
                                     class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                اصلا گوشی خوبی نیست. من راضی نبودم
                            </p>
                        </div>
                    </div>
                </div>
                <div id="show-more-comments" class="d-none">
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            کاربر 4 | <span class="text-black-50">2 بهمن 1401</span> | <span class="text-success">
                                1 <a href="#"
                                     class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                سامسونگ همیشه گوشی های خیلی خوبی داره
                            </p>
                        </div>
                    </div>
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            کاربر 5 | <span class="text-black-50">2 بهمن 1401</span> | <span class="text-success">
                                0 <a href="#"
                                     class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                خیلی مزخرفه.....
                            </p>
                        </div>
                    </div>
                    <div class="comment-box text-left rounded rounded-5 my-3">
                        <div class="font-size-small">
                            کاربر 6 | <span class="text-black-50">20 دی 1401</span> | <span class="text-success">
                                0 <a href="#"
                                     class="text-success text-decoration-none"><i class="fa-regular fa-thumbs-up"></i></a>
                            </span>
                        </div>
                        <hr class="myhr">
                        <div class="px-3">
                            <p class="comment-text">
                                بهترین سایت رو دارین. ممنون از شما و سایت خوبتون
                            </p>
                        </div>
                    </div>
                </div>
                <button id="show-more-comments-btn" class="btn btn-info btn-sm p-2" onclick="showMoreCommentsFunction();">
                    مشاهده
                    نظرات بیشتر...
                </button>
            </div>
        </div>
    </div>


    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->

    <div class="row p-0 mx-0 mt-4">
        <div class="container product-detail">
            <div class="border border-2 border-dark rounded rounded-pill d-inline py-2 px-5">
                <span id="Product-Technical" class="fw-bold"><i class="fa fa-shopping-bag"> </i> محصولات مشابه</span>
            </div>
            <div class="likeThisProduct row mt-5">
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <div class="w-100 h-100 m-auto">
                        <a href="#" class="text-decoration-none">
                            <img src="../Images/samsung galaxy a53.jpg" alt="samsung galaxy a53" class="likeProductImgs">
                        </a>
                        <a href="#" class="text-black text-decoration-none">
                            <div class="font-size-small text-center my-1">
                                گوشی موبایل سامسونگ مدل samsung galaxy a53
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <div class="w-100 h-100 m-auto">
                        <a href="#" class="text-decoration-none">
                            <img src="../Images/iphone 13 pro max.jpg" alt="iphone 13 pro max" class="likeProductImgs">
                        </a>
                        <a href="#" class="text-black text-decoration-none">
                            <div class="font-size-small text-center my-1">
                                گوشی موبایل اپل مدل iphone 13 pro max
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <div class="w-100 h-100 m-auto">
                        <a href="#" class="text-decoration-none">
                            <img src="../Images/samsung galaxy a73 2022.webp" alt="samsung galaxy a73 2022" class="likeProductImgs">
                        </a>
                        <a href="#" class="text-black text-decoration-none">
                            <div class="font-size-small text-center my-1">
                                گوشی موبایل سامسونگ مدل samsung galaxy a73 2022
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <div class="w-100 h-100 m-auto">
                        <a href="#" class="text-decoration-none">
                            <img src="../Images/xiaomi mi 11 pro.jpg" alt="xiaomi mi 11 pro" class="likeProductImgs">
                        </a>
                        <a href="#" class="text-black text-decoration-none">
                            <div class="font-size-small text-center my-1">
                                گوشی موبایل شیائومی مدل xiaomi mi 11 pro
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <div class="w-100 h-100 m-auto">
                        <a href="#" class="text-decoration-none">
                            <img src="../Images/samsung galaxy s22 2022.jpg" alt="samsung galaxy s22 2022" class="likeProductImgs">
                        </a>
                        <a href="#" class="text-black text-decoration-none">
                            <div class="font-size-small text-center my-1">
                                گوشی موبایل سامسونگ مدل samsung galaxy s22 2022
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 px-1">
                    <a href="#" class="text-decoration-none">
                        <img src="../Images/samsung s21 ultra.jpg" alt="samsung s21 ultra" class="likeProductImgs">
                    </a>
                    <a href="#" class="text-black text-decoration-none">
                        <div class="font-size-small text-center my-1">
                            گوشی موبایل سامسونگ مدل samsung s21 ultra
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span class="text-danger">محصول یافت نشد.</span>
}

<div>
    <Footer />
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
    public ProductViewModel? product { get; set; }
    public List<ProductImagesViewModel>? productImagesViewModels { get; set; }
    public CategoryViewModel? category { get; set; }
    public List<ProductAttributeViewModel>? productAttributeViewModel { get; set; }
    public List<CategoryAttributeViewModel>? categoryAttributeViewModels { get; set; }
    public string ShowMoreText = "d-none";
    public string ShowMoreBtn = "مشاهده بیشتر ...";

    protected async override Task OnInitializedAsync()
    {
        int PId = Convert.ToInt32(Id);
        product = await httpClient.GetFromJsonAsync<ProductViewModel>($"Product/Info/{PId}");
        productImagesViewModels = await httpClient.GetFromJsonAsync<List<ProductImagesViewModel>>($"ProductImage/GetImages/{PId}");
        category = await httpClient.GetFromJsonAsync<CategoryViewModel>($"Category/Info/{product.CategoryId}");
        productAttributeViewModel = await httpClient.GetFromJsonAsync<List<ProductAttributeViewModel>>($"ProductAttribute/GetPA/{product.ProductId}");
        categoryAttributeViewModels = await httpClient.GetFromJsonAsync<List<CategoryAttributeViewModel>>($"CategoryAttribute/List/{product.CategoryId}");
        await base.OnInitializedAsync();
    }

    public void ShowMore()
    {
        if(ShowMoreText == "d-none")
        {
            ShowMoreText = "d-block";
            ShowMoreBtn = "مشاهده کمتر ...";
        }
        else
        {
            ShowMoreText = "d-none";
            ShowMoreBtn = "مشاهده بیشتر ...";
        }
    }
}
