@inject HttpClient httpClient
@inject NavigationManager navigationManager

<header>
    <div class="bg-primary d-block d-xl-none">
        <div class="collapse navbar-collapse m-0 p-0" id="colNav">
            <ul class="navbar-nav text-center p-0">
                @if (categories != null)
                {
                    @foreach (var item in categories.FindAll(t => t.ParentId == null))
                    {
                        <li class="nav-item my-2">
                            <NavLink class="nav-sm nav-link" href="/CategoriesItem">
                                <h4 class="m-0 categories-title">@item.CategoryName</h4>
                            </NavLink>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light my-nav-style p-0 z-3">
        <div class="container-fluid row m-auto">
            <ul class="navbar-nav col-3">
                <li class="nav-item">
                    <button class="navbar-toggler dropbtn text-white bg-info d-inline d-xl-none" type="button"
                            data-toggle="collapse" data-target="#colNav">
                        <i class="fa fa-list"></i>
                    </button>
                    <div class="dropdown">
                        <button class="dropbtn text-white bg-info d-none d-xl-block">
                            <i class="fa fa-list"></i>
                        </button>
                        <div class="dropdown-content">
                            <div class="w-100 row">
                                @if (categories != null)
                                {
                                    @foreach (var item in categories.FindAll(t => t.ParentId == null))
                                    {
                                        @if (item.IsActive == true)
                                        {
                                            <div class="col-2 mt-1 p-0">
                                                <ul>
                                                    <li>
                                                        <NavLink href="@item.CategoryItemUrl">
                                                            <h4 class="m-0 categories-title">@item.CategoryName</h4>
                                                        </NavLink>
                                                    </li>
                                                    @foreach (var temp in categories.FindAll(t => t.ParentId == item.CategoryId))
                                                    {
                                                        <li>
                                                            <NavLink href="@temp.CategoryItemUrl">
                                                                <h5 class="m-0 categories-subtitle">@temp.CategoryName</h5>
                                                            </NavLink>
                                                        </li>

                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }
                                }

                            </div>

                        </div>
                    </div>
                </li>
                <li class="d-none d-sm-block nav-item mx-4">
                    <NavLink @onclick="ShowSearchModal" class="nav-link mt-2" data-toggle="modal" data-target="#searchModal">
                        <i class="fa fa-search"></i>
                    </NavLink>
                </li>
            </ul>
            <div class="navbar-nav col-6 text-center p-0">
                <p class="m-auto">
                    <NavLink class="m-0 text-black text-decoration-none logo-place" href="/">لوگو سایت</NavLink>
                </p>
            </div>
            <AuthorizeView Roles="User">
                <Authorized>
                    <div class="d-block d-sm-none col d-flex justify-content-end">
                        <NavLink href="/UserPanel" class="text-black text-decoration-none" title="مشاهده پنل کاربری">
                            <i class="fa-solid fa-2x fa-circle-user"></i>
                        </NavLink>
                    </div>
                    <div class="navbar-nav col-3 d-flex justify-content-end">
                        <NavLink href="/Cart" class="d-none d-lg-block nav-link nav-item mr-3 my-auto">
                            مشاهده سبد خرید <i class="fa fa-shopping-cart"> </i>
                        </NavLink>
                        <div class="dropdown d-none d-sm-block">
                            <div class="btn dropdown-toggle border-0" @onclick="ShowUserDropdown" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fa-solid fa-2x fa-circle-user"></i>
                            </div>
                            <div class="dropdown-menu p-0 @displayDropdown" aria-labelledby="dropdownMenuButton">
                                <NavLink href="/UserPanel" @onclick="ShowUserDropdown" class="dropdown-item p-0 d-flex align-items-center border border-bottom">
                                    <i class="fa fa-circle-user px-2"></i>مشخصات کاربری
                                </NavLink>
                                <NavLink href="/Cart" @onclick="ShowUserDropdown"
                                         class="d-block d-lg-none dropdown-item p-0 d-flex align-items-center border border-bottom">
                                    <i class="fa fa-shopping-cart px-2"></i>مشاهده سبد خرید
                                </NavLink>
                                <NavLink style="cursor:pointer" @onclick="LogoutUser" class="dropdown-item p-0 d-flex align-items-center">
                                    <i class="fa-solid fa-arrow-right-from-bracket px-2"></i>خروج از حساب کاربری
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="col d-flex justify-content-end">
                        <NavLink href="/Login" class="btn btn-outline-info">
                            ورود / ثبت نام
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="col d-flex justify-content-end">
                        <NavLink href="/Admin" class="btn btn-outline-info">
                            پنل ادمین
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

        </div>
    </nav>

    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------->
</header>

<div class="modal fade @SearchModalText" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="modal-bode-search" class="modal-content bg-white">
            <div class="modal-header">
                <h5 class="modal-title">جست و جو در محصولات</h5>
                <button class="btn btn-outline-danger" type="button" @onclick="CloseSearchModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="جست و جو کالا..." id="searchBar">
                    <div class="input-group-prepend">
                        <button type="button" id="searchBtn" class="btn btn-danger"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<CategoryViewModel>? categories { get; set; }
    public string SearchModalText = "hide d-none";
    public string displayDropdown = "d-none";
    private System.Threading.Timer? timer;

    protected async override Task OnInitializedAsync()
    {
        categories = await httpClient.GetFromJsonAsync<List<CategoryViewModel>>("Category/List");
        if (categories != null)
        {
            foreach (var item in categories)
            {
                item.CategoryItemUrl = "/CategoriesItem/" + item.CategoryId;
            }
        }
        await base.OnInitializedAsync();
    }
    public void ShowSearchModal()
    {
        if (SearchModalText == "hide d-none")
        {
            SearchModalText = "show d-block";
        }
    }
    public void CloseSearchModal()
    {
        SearchModalText = "hide d-none";
    }
    public void ShowUserDropdown()
    {
        if (displayDropdown == "d-none")
        {
            displayDropdown = "d-block";
        }
        else
        {
            displayDropdown = "d-none";
        }
    }
    public async Task LogoutUser()
    {
        var res = await httpClient.GetFromJsonAsync<bool>("User/LogOutUser");
        if (res == true)
        {
            navigationManager.NavigateTo("/", true);
        }
    }
}
